* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.outer-div {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.inner-div {
    display: flex;
    height: 70%;
    align-items: center;
    overflow: hidden;
    padding: 0 30% 0  30%;
    gap: 125px;
    
}

.image-div {
    height: 65%;
}

img {
    height: 100%;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.round-button {
    background-color: darkgray;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}

.round-button:hover, .button-selected {
    box-shadow: 0 0 0 10px white inset;
  }

.arrow {
    background-color: black;
    padding: .4rem; /* Arrow size */
    box-shadow: 1px -1px 0 1px darkgray inset;
    -webkit-box-shadow: 2px -2px darkgray inset;
    border: solid transparent;
    transition: 0.2s;
  }
  
  .arrow:hover {
    box-shadow: 2px -2px 0 2px white inset;
    -webkit-box-shadow: 4px -4px white inset;
  }
  
  .arrow-up    { transform:rotate(135deg) }
  .arrow-right { transform:rotate(225deg) }
  .arrow-down  { transform:rotate(-45deg) }
  .arrow-left  { transform:rotate(45deg) }
